/* Add custom styles here */

/* Image Resizing */
img { border: 0; box-sizing: border-box; max-width: 100%; _width: 100%; height: auto; vertical-align: middle; }

img[src*="maps.gstatic.com"] { max-width: none; }

img[src*="googleapis.com"] { max-width: none; }

svg:not(:root) { overflow: hidden; }

/* Text Alignment */
.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

/* Location */
#google_canvas {
	height:100%;
}
#google_canvas h1 {
	font-size:16px;
}
#google_canvas h2 {
	font-size:14px;
	font-weight:300;
}
